
<div class="row align-items-center" id="fillWholePage">
    <div class="col-md-12" id="contentContainerParent">
        <div class="container bg-light" id="contentContainer"  >
                <div role="heading">
                    <div class="loginImage">
                        <img class="img-fluid" src="assets/WebStartLogoEvenWider@2x.png" alt="Webstart header image">
                    </div>
                </div>
                <div >
                    <div class="row" [@toggleVisbilityLoginButtons]=" loginIsCollapsed && registerIsCollapsed? 'visible':'hidden'">
                        <div class="col-sm my-1">
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)=" showLoginForm();" [attr.aria-expanded]="!loginIsCollapsed">
                                Login
                            </button>
                        </div>
                        <div class="col-sm my-1" >
                            <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)=" showRegisterForm();" [attr.aria-expanded]="!registerIsCollapsed">
                                Register
                            </button>
                        </div>

                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="loginIsCollapsed">
                        <login-form [initialData]="initialData" (registerClicked)="onLoginFormRegisterClicked(initialData)" firstName="asdf" ></login-form>
                    </div>
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="registerIsCollapsed">
                      <register-form [initialData]="initialData" (loginClicked)="onRegisterFormLoginClicked(initialData)" ></register-form>
                    </div>




                </div>

        </div>

    </div>
</div>



