
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

h1 {
    margin-bottom:0px;
    padding-top: 5px;
    font-size: 15px;
    display: block;
    @include media-breakpoint-up(sm){
        font-size: 20px;
    }
 /*   @include media-breakpoint-up(lg){
        font-size: 25px;
    }*/
}

#activitiesWidget{
    //border: gray 2px solid;
    border-radius: 5px;
    background-color: black;
    background: linear-gradient(180deg, #cf0553 0%,  rgb(48, 2, 77));
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    @include media-breakpoint-up(sm){
        width: 49%;
        float:right;
        height: 340px;
     //   margin-bottom: 5px;
    }
    @include media-breakpoint-up(lg){ 
        height: 350px;
    }
}
.confused{
    width:140px;
    margin: 10px;
    @include media-breakpoint-up(sm){
        width:100px;
        margin:10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(lg){
        width:160px;
    }
}
.iconPicture{
    width:100px;
    margin: 10px;
    padding:10px;
    @include media-breakpoint-up(lg){
        width:110px;
    }
}
.iconPicture:hover{
    filter: drop-shadow(1px 1px 10px white);
    cursor: pointer;
   
}

