<div class="activitiesWidget">
    <div><h2>Activities today:</h2></div>

    <div [ngSwitch]="weatherDescripForActivities" >
       <div *ngSwitchCase ="'outsideHot'" class="activity-Icon hot"> 
          <a href="https://www.duckduckgo.com/search?q=Icecream+Store+nearby"> <img class="iconPicture" src='./assets/png/007-ice-cream.png'></a>
          <a href="https://www.google.com/search?q=Best+BBQ+Recipes" target="_blank"><img class="iconPicture" src='./assets/png/008-barbecue.png'></a>
          <br>
          <a href="https://www.google.com/search?q=swimming+places+nearby" target="_blank"> <img class="iconPicture" src='./assets/png/006-sunbed.png'></a>
          <a href="https://www.google.com/search?q=concerts+near+me+today" target="_blank"><img class="iconPicture" src='./assets/png/009-festival.png'></a>
    </div>
    
    <div *ngSwitchCase ="'outsideWarm'" class="activity-Icon warm"> 
        <a href="https://www.google.com/search?q=Hiking+Trails+near+me" target="_blank"> <img class="iconPicture" src='./assets/png/004-wanderer.png'></a>
        <a href="https://www.google.com/search?q=Fair+Fashion+near+me" target="_blank"><img class="iconPicture" src='./assets/png/002-online-shopping.png'></a>
       <br>
       <a href="https://www.google.com/search?q=Best+iced+coffee+in+town" target="_blank"> <img class="iconPicture" src='./assets/png/001-eiskaffee.png'></a>
       <a href="https://www.google.com/search?q=Cycling+Trails+near+me" target="_blank"><img class="iconPicture" src='./assets/png/005-bicycle.png'></a>
     </div>

     <div *ngSwitchCase ="'insideActivities'" class="activity-Icon inside"> 
        <a href="https://www.google.com/search?q=Museum+nearby" target="_blank">  <img class="iconPicture" src='./assets/png/011-museum.png'></a>
        <a href="https://www.google.com/search?q=Awesome+Cake+Recipes" target="_blank"> <img class="iconPicture" src='./assets/png/013-bake.png'></a>
       <br>
       <a href="https://www.google.com/search?q=Local+Libraries" target="_blank"><img class="iconPicture" src='./assets/png/014-world-book-day.png'></a>
       <a href="https://www.google.com/search?q=Cinema+nearby" target="_blank"><img class="iconPicture" src='./assets/png/010-cinema.png'></a>
 </div>
 <div *ngSwitchCase ="'snow'" class="activity-Icon snowy"> 
    <a href="https://www.google.com/search?q=Ice+Skating+nearby" target="_blank"><img class="iconPicture" src='./assets/png/018-ice-skate.png'></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> <img class="iconPicture" src='./assets/png/010-snowman.png'></a>
   <br>
   <a href="https://www.google.com/search?q=Thermal+Bath+near+me" target="_blank"> <img class="iconPicture" src='./assets/png/020-sauna.png'></a>
   <a href="https://www.google.com/search?q=Best+Skiing+near+me" target="_blank"><img class="iconPicture" src='./assets/png/015-skiing.png'></a>
</div>
    </div>
<!--
Activities Icon Sources 
icons <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/linector" title="Linector">Linector</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div><div>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> 
-->






















</div>
