
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

h1 {
    margin-bottom:0px;
    padding-top: 5px;
    font-size: 15px;
    display: block;
    @include media-breakpoint-up(sm){
        font-size: 20px;
    }
    @include media-breakpoint-up(lg){
        font-size: 25px;
    }
}

#activitiesWidget{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    background: linear-gradient(180deg, rgb(48, 2, 77) 0%, rgb(177, 2, 43));
    color: white;
    width: 100%;
    text-align: center;
    display: block;
  /*  @include media-breakpoint-up(sm){
        width:33%;
        float:right;
        height: 350px;
    }*/
    @include media-breakpoint-up(sm){
        width: 46%;
        float:right;
        height: 340px;
    }
    @include media-breakpoint-up(lg){
        width: 30%;
        float:right; 
        height: 370px;
    }
}
.confused{
    width:140px;
    margin: 10px;
    @include media-breakpoint-up(sm){
        width:100px;
        margin:10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(lg){
        width:160px;
    }
}
.iconPicture{
    width:70px;
    margin: 10px;
    @include media-breakpoint-up(sm){
        width:60px;
        margin:10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(lg){
        width:80px;
    }
}
.iconPicture:hover{
    filter: drop-shadow(1px 1px 10px white);
    cursor: pointer;
   
}
/*.reload{
    height: 25px;
    background-color: rgb(53, 2, 75);
    color: antiquewhite; 
    border-radius: 7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/
