<div id='activitiesWidget'>
   <div *ngIf="!failedAPIcall">
      <h1>Todays suggestions for activities </h1>
      <h1>in {{currentCityForActivities}} are:</h1>
   </div>
   <div *ngIf="failedAPIcall">
      <h1>Sorry, we couldn't find suggestions for the current city: {{currentCityForActivities}} </h1>
   </div>

   <div [ngSwitch]="weatherDescripForActivities">
      <div *ngSwitchCase="'notAvailable'" class="confusedFace">
         <div><img class="confused" src='./assets/png/confused.png' alt="confused face"></div>
      </div>
      <div *ngSwitchCase="'outsideHot'" class="activity-Icon hot">
         <div class="row align-self-center">
            <div class="col align-self-start"><a
                  [href]="'https://www.google.com/search?q=Icecream+Store ' + currentCityForActivities" target="_blank"
                  title="icecream"> <img class="iconPicture" src='./assets/png/007-ice-cream.png' alt="Icecream"></a>
            </div>
            <div class="col align-self-end"><a [href]="'https://www.google.com/search?q=Best+BBQ+Recipes'"
                  target="_blank" title="BBQ"><img class="iconPicture" src='./assets/png/008-barbecue.png'
                     alt="BBQ"></a></div>
         </div>
         <div class="row align-self-end">
            <div class="col align-self-start"><a
                  [href]="'https://www.google.com/search?q=swimming+places+' + currentCityForActivities" target="_blank"
                  title="swimming"> <img class="iconPicture" src='./assets/png/006-sunbed.png' alt="sunbed"></a></div>
            <div class="col align-self-end"><a
                  [href]="'https://www.google.com/search?q=concerts+today '+ currentCityForActivities"
                  target="_blank"><img class="iconPicture" src='./assets/png/009-festival.png' title="concert"
                     alt="concert"></a></div>
         </div>
      </div>

      <div *ngSwitchCase="'outsideWarm'" class="activity-Icon warm">
         <div class="row align-self-center">
            <div class="col align self-start"><a
                  [href]="'https://www.google.com/search?q=Hiking+Trails+ ' + currentCityForActivities" target="_blank"
                  title="hiking"> <img class="iconPicture" src='./assets/png/004-wanderer.png' alt="hiking"></a></div>
            <div class="col align-self-end"> <a
                  [href]="'https://www.google.com/search?q=Fair+Fashion' + currentCityForActivities" target="_blank"
                  title="shop"><img class="iconPicture" src='./assets/png/002-online-shopping.png' alt="shop local"></a>
            </div>
         </div>
         <div class="row align-self-end">
            <div class="col align-self-start"> <a
                  [href]="'https://www.google.com/search?q=Best+iced+coffee+in' + currentCityForActivities"
                  target="_blank" title="iced coffee"> <img class="iconPicture" src='./assets/png/001-eiskaffee.png'
                     alt="iced coffee"></a></div>
            <div class="col align-self-end"> <a
                  [href]="'https://www.google.com/search?q=Cycling+Trails'+ currentCityForActivities" target="_blank"
                  title="ride a bycicle"><img class="iconPicture" src='./assets/png/005-bicycle.png' alt="biking"></a>
            </div>
         </div>
      </div>

      <div *ngSwitchCase="'insideActivities'" class="activity-Icon inside">
         <div class="row align-self-center">
            <div class="col align-self-start"><a
                  [href]="'https://www.google.com/search?q=Museum+' + currentCityForActivities" target="_blank"
                  title="museum"> <img class="iconPicture" src='./assets/png/011-museum.png' alt="museum"></a></div>
            <div class="col align-self-end"><a href="https://www.google.com/search?q=Awesome+Cake+Recipes"
                  target="_blank" title="bake something"> <img class="iconPicture" src='./assets/png/013-bake.png'
                     alt="bake a cake"></a></div>
         </div>
         <div class="row align-self-end">
            <div class="col align-self-start"> <a
                  [href]="'https://www.google.com/search?q=Local+Libraries '+ currentCityForActivities" target="_blank"
                  title="book reading"><img class="iconPicture" src='./assets/png/014-world-book-day.png'
                     alt="visit library"></a></div>
            <div class="col align-self-end"> <a
                  [href]="'https://www.google.com/search?q=Cinema+in '+ currentCityForActivities" target="_blank"
                  title="cinema"><img class="iconPicture" src='./assets/png/010-cinema.png' alt="cinema"></a></div>
         </div>
      </div>
      <div *ngSwitchCase="'snow'" class="activity-Icon snowy">
         <div class="row align-self-center">
            <div class="col align-self-start"><a
                  [href]="'https://www.google.com/search?q=Ice+Skating'+ currentCityForActivities" target="_blank"
                  title="ice skating"><img class="iconPicture" src='./assets/png/018-ice-skate.png'
                     alt="iceskating"></a></div>
            <div class="col align-self-end"> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"
                  title="surprise"> <img class="iconPicture" src='./assets/png/019-snowman.png' alt="snowman"></a>
            </div>
         </div>
         <div class="row align-self-end">
            <div class="col align-self-start"><a
                  [href]="'https://www.google.com/search?q=Thermal+Bath '+ currentCityForActivities" target="_blank"
                  title="thermal bath"> <img class="iconPicture" src='./assets/png/020-sauna.png'
                     alt="thermal bath"></a></div>
            <div class="col align-self-end"><a
                  [href]="'https://www.google.com/search?q=Best+Skiing '+ currentCityForActivities" target="_blank"
                  title="skiing"><img class="iconPicture" src='./assets/png/015-skiing.png' alt="skiing"></a></div>
         </div>
      </div>
   </div>
   
   
</div>   
<!--
Activities Icon Sources 
icons <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/linector" title="Linector">Linector</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div><div>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> 
--->