<div class="fixedBackgroundContainer  ">
<div id='lowMainpageContainer' >
      <div class="lowMainpageContainerRow"><h1>WEBSTART</h1></div>
      <div class="lowMainpageContainerRow"><p>Hi {{userData.firstname}} {{userData.lastname}} with email {{userData.email}}! Nice to see you again!<button type="button"(click)="logOutClicked()">log out</button></p></div>
      <div class="lowMainpageContainerRow"><app-searchbar [lowBandwidth] = "lowBandwidthSearchbar"></app-searchbar></div>
      <div class="lowMainpageContainerRow"> 
        <div class="col-xl-6 col-md-6 col-sm-12" *ngFor="let widget of widgetList">
            <shortcut-group  [lowBandwidth] = "lowBandwidthSearchbar" *ngIf="widget.type=='ShortcutGroup'"[data]=widget.data></shortcut-group>
      </div>
      </div>
      <div class="lowMainpageContainerRow"><p>Please remember, to get all our features click 'no' when asked for low bandwidth version.</p></div>
</div> 
</div>