
.lowMainpageContainerRow{
    padding: 10px;
    text-align: center;}
    

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


#lowMainpageContainer{
   height:100%;
   width:100%;
   padding:10px;
   border-radius: 10px;
   background-color: whitesmoke;
}

