<div class="fixedBackgroundContainer  ">
    <div class="bg-light whiteBackgroundContainer">
      <div class="loginImage">
        <img class="img-fluid" src="assets/WebStartLogoEvenWider@2x.png">

      </div> 
     
      <app-searchbar></app-searchbar>
      
        
       
      <div style="overflow:hidden" > 
        <app-weather-element></app-weather-element>
       <!-- <app-activities-element></app-activities-element>-->
      </div>
    
        <div>
          <app-joke-element></app-joke-element>
        </div>
        
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let shortcut of shortcutArr">
                <shortcut-group [data]=shortcut></shortcut-group>
            </div>
            
        </div>
    </div>
   
</div>


