

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.whiteBackgroundContainer{
   height:100%;
   width:100%;
   padding:10px;
   border-radius: 10px;
}
.fixedBackgroundContainer{
    position:relative;
    width:100%;
    height:100%;
    padding:10px;
}

#changeVisibilityButtonDiv{
    text-align: left;
    height: 1px;
    padding: 0;
    z-index: 5;//Move to front...
}
.changeVisibilityButton{
    padding: 1px 1px; 
    border: 1px black;
    border-radius: 2px;
    text-align: center;
    width: 30px;
    height: 30px;
}
.icon{
    width: 20px;
    height: 20px;
}
.changeVisibilityButton:hover{
    background-color: whitesmoke;
    cursor: pointer;
    border: 3px #cf0553 solid;
    border-radius: 5px;
    filter: drop-shadow(1px 1px 2px  rgb(48, 2, 77));
}

.myCol{
    width: 100%;
    height: 100%;
}
.myRow{
    width: 100%;
    height: 100%;
}