

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.whiteBackgroundContainer{
   height:100%;
   width:100%;
   padding:10px;
   border-radius: 10px;
}
.fixedBackgroundContainer{
    position:relative;
    width:100%;
    height:100%;
    padding:10px;
}
/*.logoPic{
    display: block;
    height: 10%;
    width: 10%;
   /* margin:auto;
    @include media-breakpoint-up(sm){
        width:490px;
    }
}*/
