<div class="fixedBackgroundContainer  ">
    <div class="bg-light whiteBackgroundContainer">
      <p>Hi {{userData.firstname}} {{userData.lastname}} with email {{userData.email}}! Nice to see you again!</p>
      <button type="button" class="btn btn-secondary"(click)="logOutClicked()">log out</button>
      <div class="loginImage">
        <img class="img-fluid" src="assets/WebStartLogoEvenWider@2x.png">

      </div> 
     
      <app-searchbar></app-searchbar>
      
    
        
      <div style="overflow:hidden">
         <app-weather-element></app-weather-element>
       <!-- <app-activities-element></app-activities-element>-->
      </div>
      <div>
        
      </div>
    
      <app-joke-element></app-joke-element>
        
        <!--DISPLAY ALL REMAINING WIDGETS-->

        <div class="row">
          <!--Iterate over Widget List-->
            <div class="col-xl-4 col-md-6 col-sm-12" *ngFor="let widget of widgetList">
                <shortcut-group *ngIf="widget.type=='ShortcutGroup'"[data]=widget.data></shortcut-group>
                <!--TODO Add more widgets!-->
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12" *ngIf="isCreatingShortcut">
              <create-shortcut-group  (shortcutGroupCreated)="onShortcutGroupCreated($event)"></create-shortcut-group>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12" *ngIf="!isCreatingShortcut">
              <add-widget  (widgetCreateRequest)="createWidget($event)"></add-widget>
            </div>
        </div>
    </div>
   
</div>


