

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.whiteBackgroundContainer{
   height:100%;
   width:100%;
   padding:10px;
   border-radius: 10px;
}
.fixedBackgroundContainer{
    position:relative;
    width:100%;
    height:100%;
    padding:10px;
}

.buttonDiv{
    text-align: right;
    margin-top: 5px; 
    margin-right: 5px;
}
#hideButton{
    height: 30px;
    background-color: #f01527;
    border-radius: 1px;
    color: whitesmoke; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50px;
}
#hideButton:hover{
    cursor: pointer;
}
