
<div class="row align-items-center" id="fillWholePage">
    <div class="col-md-12" id="contentContainerParent">
        <div class="container bg-light" id="contentContainer"  >
                <div role="heading">
                <div class="buttonsDiv"><h2>Need a low bandwidth version?</h2></div>
                     <div class="buttonsDiv">
                          <button type="button" id="bandwidthButton"  (click)="showBasicUI()" >yes</button>
                          <button type="button" id="bandwidthButton1"  (click)="showFancyUI()">no</button>
                     </div>
                </div>
        </div>
    </div>
</div>
