<!--Low BW version-->

<div *ngIf='lowBandwidthElement'  class='lowBWContainer'>
    <div class="shortcut" (click)="openUrl()">
        <div>
            <div >
                <p >{{shortcutData.name}}</p>
            </div>
        </div>
    </div>
</div>

<!--Fancy BW version-->

<div *ngIf='!lowBandwidthElement' class="shortcutParentContainer shadow-sm rounded">
    <div class="shortcutContainer noPadding shortcut"  (click)="openUrl()">
        <div class="row">
            <div class="col" >
                <img alt="shortcut picture" class="shortcutImage"  [src]="imageUrl">
            </div>
        </div>
        <div class="row noPadding">
            <div class="col">
                <p class="shortcutName">{{shortcutData.name}}</p>
            </div>
        </div>
    </div>
</div>

