/* You can add global styles to this file, and also import other style files */
.webstartLogo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin:auto;
    color:dimgray;
}

body::before {
    background: url(/assets/login-background.jpg) repeat center center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position:absolute; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
