/* Höhe ändert sich nach Inhaltsmenge, TODO: Höhe responsive aber fixiert gestalten.
Breite responsive nach Größe des Display.*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#weatherContainer{
    float: left;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    background: linear-gradient(180deg, rgb(48, 2, 77) 0%, rgb(177, 2, 43));
    color: white;
    font-family: Futura;
    width: 50%;
    display: block;
    text-align: center;
}
#cityButton{
    height: 35px;
    background-color: rgb(53, 2, 75);
    color: antiquewhite; 
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sun{
    margin-top: 10px;
    margin-left: -20px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
}

/*.cloudDiv{
    margin-top: -60px;
}*/

.cloud{
    color: rgb(139, 185, 199);
    filter: drop-shadow(1px 1px 5px rgb(139, 185, 199));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.smog{
    margin-top: 10px;
    color: gray;
    filter: drop-shadow(1px 1px 5px gray);
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.cloud-rain{
    margin-top: 10px;
    color: rgb(62, 161, 191);
    filter: drop-shadow(1px 1px 5px rgb(62, 161, 191));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.snowflake{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.bolt{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.cloud-moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
    background-color: darkblue;
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.cityTextfield{
    width: 80%;
    border-radius: 7px;
}


@keyframes cloudMovement{
    from{margin-left: -35px;}
    to{margin-left: 35px;}
}


