
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

h1 {
    margin-bottom:0px;
    font-size: 15px;
    display: block;
    @include media-breakpoint-up(sm){
        font-size: 20px;
    }
    @include media-breakpoint-up(lg){
        font-size: 25px;
    }
}
h2 {
    margin-bottom:0px;
    font-size: 20px;
    @include media-breakpoint-up(sm){
        font-size: 30px;
    }
    @include media-breakpoint-up(lg){
        font-size: 40px;
    }

}
p {
    margin-bottom:0px;
    font-size: 15px;
    @include media-breakpoint-up(sm){
        font-size: 15px;
    }
    @include media-breakpoint-up(lg){
        font-size: 20px;
    }
}
.weatherWidgetRow {
    margin: 5px;
}
#weatherContainer{
    margin-top: 5px;
    border-radius: 5px;
    background-color: black;
    background: linear-gradient(180deg, #cf0553 0%,  rgb(48, 2, 77));
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    @include media-breakpoint-up(sm){
        width: 49%;
        float:left;
        height: 340px;
    } 
    @include media-breakpoint-up(lg){ 
        height: 350px;
    }
}
#cityButton{
    height: 35px;
    background-color: #cf0553;
    color: whitesmoke; 
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    margin-bottom:5px;
}
#cityButton:hover{
    filter: drop-shadow(1px 1px 10px white);
}
.sun{
    margin-top: 10px;
    margin-left: -20px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
}

.cloud{
    color: rgb(139, 185, 199);
    filter: drop-shadow(1px 1px 5px rgb(139, 185, 199));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.smog{
    margin-top: 10px;
    color: gray;
    filter: drop-shadow(1px 1px 5px gray);
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.cloud-rain{
    margin-top: 10px;
    color: rgb(62, 161, 191);
    filter: drop-shadow(1px 1px 5px rgb(62, 161, 191));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.snowflake{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.bolt{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}

.cloud-moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow(1px 1px 10px white);
    background-color: darkblue;
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.cityTextfield{
    width: 80%;
    border-radius: 20px;
    border: none;
    color: black;
    padding: 5px 20px;
    margin-bottom: 10px;;
}

@keyframes cloudMovement{
    from{margin-left: -30px;}
    to{margin-left: 30px;}
}
.confusedFace{
    width:70px;
    @include media-breakpoint-up(sm){
        width:60px;
        margin:10px;
    }
    @include media-breakpoint-up(lg){
        width:80px;
    }
}


