/* Höhe ändert sich nach Inhaltsmenge, TODO: Höhe responsive aber fixiert gestalten.
Breite responsive nach Größe des Display.*/

#weatherContainer{
    float: left;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
    width: 50%;
    display: block;
    text-align: center;
}
.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow(1px 1px 10px yellow);
}




/*

Nur eingefügt zur Bearbeitung, Desgin sieht dann anders aus. 


.logo{
    width:60%;
    margin:auto;
    @include media-breakpoint-up(sm){
        width:576px;
    }
}1


#divWeatherMain{
    /*display: block;
    float: left;
    left: 0;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    /*background: rgba(226, 94, 226, 0.822);
    background: linear-gradient(180deg, rgb(240, 20, 20) 0%, rgb(250, 8, 250) 75%, rgb(240, 20, 20) 100%);
    color: rgb(14, 4, 4);;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3% 3%;
    padding: 1%;
    border: 2px solid black;
    box-shadow:2px 2px rgb(250, 8, 250);
}

.weatherWidgetRow{
    display:block;
    margin: 2% auto;
    width: fit-content;
}

img{
    width: 200px;
    height: 150px;
   /* margin:auto%;
  //  @include media-breakpoint-up(sm){
  //      width:576px;
    }
   border-radius: 20px;
}*/