
    <!--<img class="logo" src="assets/WebStartLogoEvenWider2x.png" alt="logo">-->
    <div id='weatherContainer'>
        <div class="weatherWidgetRow" ><h1>{{city}}</h1></div>
     

    <div class="weatherWidgetRow">
            <i class="fas fa-3x fa-sun sun"></i> 
            <i class="fas fa-3x fa-sun sun"></i> 
    </div> 
   <!-- <div class="weatherWidgetRow" [ngSwitch]="weatherDescription">
        <img *ngSwitchCase="'cloud'"  src="assets/weatherDrawings/cloud.jpeg" alt="cloud">
        <img *ngSwitchCase="'fog'"  src="assets/weatherDrawings/fog.jpeg" alt="fog">
        <img *ngSwitchCase="'rain'"  src="assets/weatherDrawings/rain.jpeg" alt="rain">
        <img *ngSwitchCase="'snow'" src="assets/weatherDrawings/snow.jpeg" alt="snow">
        <img *ngSwitchCase="'lightning'"  src="assets/weatherDrawings/lightning.jpeg" alt="lightning">
        <img *ngSwitchCase="'unknown'"  src="assets/weatherDrawings/unknown.jpeg" alt="unkown">
        <img *ngSwitchCase="'clear'"  src="assets/weatherDrawings/clearDay.jpeg" alt="clear Day">
        <img *ngSwitchCase="'partialClear'"  src="assets/weatherDrawings/partialClearDay.jpeg" alt="partial clear Day">
    </div>-->
      <!--   <ng-container *ngSwitchCase="WeatherType.clear">
                    <img *ngIf="isDay()" src="assets/sun.png" alt="clear day">
                    <img *ngIf="!isDay()" src="assets/moon.png" alt="clear night">
                </ng-container>
    
                <ng-container *ngSwitchCase="WeatherType.partialClear">
                    <img *ngIf="isDay()" src="assets/partial-sun.png" alt="partial clear day">
                    <img *ngIf="!isDay()" src="assets/partial-moon.png" alt="partial clear night">
                </ng-container>
    -->
    
    <div class="weatherWidgetRow"></div>
    
    <div class="weatherWidgetRow"><h2>{{temp}} °C</h2></div>
    <div class="weatherWidgetRow">Weather description: {{weather}}</div>
    
    <!--If the cityName is not valid, f.e. connected to boolean error control -->
    <div class="weatherWidgetRow" *ngIf="failedToLoad">Weather is not available. Try looking out the window.</div>
 
    <!--TODO clear field after input use-->
    <input class="weatherWidgetRow" type="text" placeholder="Your City here:" id="myCity" name="myCity" #myCity>
   <button type="button" class="weatherWidgetRow" (click)="clickme(myCity.value)" [disabled]="searching">Search City</button>

    <div class="weatherWidgetRow" *ngIf="failed">Could not add the city.</div>

</div>
    
    