.settingsContainer{
    background-color: lightgrey; 
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(180deg, #cf0553 0%,  rgb(48, 2, 77));
    color: whitesmoke;
    filter: drop-shadow(1px 1px 2px  rgb(48, 2, 77));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row{
    padding:2px;
}
#textBox{
    text-align: center;
}


.submit{
    padding: 1px 1px; 
    border: 1px black;
    border-radius: 20px;
    text-align: center;
    background-color: #cf0553;
    color:whitesmoke;
    width: 100px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit:hover{
    cursor: pointer;
    filter: drop-shadow(1px 1px 10px  white);
}

