@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

h1 {
    margin-bottom:0px;
    font-size: 15px;
    display: block;
    @include media-breakpoint-up(sm){
        font-size: 20px;
    }
    @include media-breakpoint-up(lg){
        font-size: 25px;
    }
}
h2 {
    margin-bottom:0px;
    font-size: 20px;
    @include media-breakpoint-up(sm){
        font-size: 30px;
    }
    @include media-breakpoint-up(lg){
        font-size: 40px;
    }

}
.jokeRow{
    margin: 5px;
}
#jokeContainer{
    margin-top: 10px;
    padding: 10px;
   // border: gray 2px solid;
    border-radius: 5px;
    background-color: black;
    background: linear-gradient(180deg, #cf0553 0%,  rgb(48, 2, 77));
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    @include media-breakpoint-up(sm){
        margin-top: 5px;
        width: 49%;
    }
   /* @include media-breakpoint-up(lg){
        width: 32%;
    }*/
}
#punchlineButton{
        height: 35px;
        background-color: #cf0553;
        color: whitesmoke; 
        border-radius: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
        filter: drop-shadow(white);
}

.smiley{
    width:70px;
    margin: 10px;
    @include media-breakpoint-up(sm){
        width:60px;
        margin:10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(lg){
        width:80px;
    }
}