@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

h1 {
    padding-top: 5px;
    margin-bottom:0px;
    font-size: 12px;
    display: block;
    @include media-breakpoint-up(sm){
        font-size: 15px;
    }
    @include media-breakpoint-up(lg){
        font-size: 18px;
    }
}
h2 {
    margin-bottom:0px;
    font-size: 15px;
    @include media-breakpoint-up(sm){
        font-size: 20px;
    }
    @include media-breakpoint-up(lg){
        font-size: 25px;
    }

}
p {
    margin-bottom:0px;
    font-size: 15px;
    @include media-breakpoint-up(sm){
        font-size: 15px;
    }
    @include media-breakpoint-up(lg){
        font-size: 20px;
    }
}
.jokeRow{
    margin: 5px;
    padding-bottom: 5px;
}
#jokeContainer{
    border-radius: 5px;
    background-color: black;
    background: linear-gradient(180deg, #cf0553 0%,  rgb(48, 2, 77));
    color: white;
    width: 100%;
    display: block;
    text-align: center;
  /*  @include media-breakpoint-up(sm){
      
       height: 250px;
    }
   /* @include media-breakpoint-up(lg){
        width: 32%;
    }*/
}
#punchlineButton{
        height: 35px;
        background-color: #cf0553;
        color: whitesmoke; 
        border-radius: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
        filter: drop-shadow(white);
       // padding-bottom: 2px;
        margin-bottom:5px;
}

.smiley{
    width:65px;
    margin: 10px;
    @include media-breakpoint-up(sm){
        width:50px;
        margin:10px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    @include media-breakpoint-up(lg){
        width:80px;
    }
}